<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Success</title>
</head>
<body>
    <h1>You have logged in or registered successfully</h1>
    
    <div>
        <h3>User Logged In</h3>
        <p>{{ user.first_name }}</p>
    </div>
    <a href="/logout" class="home">Sign Out</a>
</body>
</html>