<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Hello, {{ logged_in_user.first_name }}</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
        </div>
        <h1>{{ recipe.title }}</h1>
        <div class="main" style="outline: solid 1px black;">
            <p>Description: {{ recipe.description }}</p>
            <p>Under 30 minutes: 
                {% if recipe.under_30 == 1 %}
                    <td>Yes</td>
                {% endif %}
                {% if recipe.under_30 == 0 %}
                    <td>No</td>
                {% endif %}
            </p>
            <p>Instructions: {{ recipe.instructions }}</p>
            <p>Date Made: {{ recipe.date }}</p> <!--LOOK THIS UP IN JINJA-->
        </div>
    </div>
</body>
</html>