<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <title>HTML Table</title>
</head>
<body>
    </ul>
    <table class="table-bordered">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user['first_name'] }}</td>
                    <td>{{ user['last_name'] }}</td>
                    <td>{{ user['full_name'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>