<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Edit</title>
</head>
<body>
    <h1>Add a New User</h1>
    <a href="/users" class="home">Home</a>
    <form action="/users/{{user.id}}/change" method="post">
        <p>
            First Name:
            <input type="text" name="first_name" id="" value="{{ user.first_name }}">
        </p>
        <p>
            Last Name:
            <input type="text" name="last_name" id="" value="{{ user.last_name }}">
        </p>
        <p>
            Email:
            <input type="text" name="email" id="" value="{{ user.email }}">
        </p>
        <button>update</button>
        <a href="/users/{{user.id}}">Show User</a>
    </form>
</body>
</html>