
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1000px;
    min-height: 900px;
    margin: 0 auto;
}

.main{
    width: 1000px;
    align-items: center;
}

.box{
    min-width: 210px;
    min-height: 210px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 5px;
    margin: 15px 10px;
    border: solid black 3px;
}

h1{
    text-align: center;
    margin-top: 60px;
    display: block;
}

