<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Collars</title>
</head>
<body>
    <h1>All Collars</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Dog Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for collar in all_collars %}
                    <td>{{ collar.id }}</td>
                    <td>{{ collar.dog.name }}</td>
                    <td>{{ collar.color }}</td>
                {% endfor %}
            </tr>
        </tbody>
        
    </table>
    <a href="/collars/new">Create a Collar!</a>
    <a href="/">Go Back</a>
</body>
</html>