<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Toys</title>
</head>
<body>
    <h1>All of the Toys!</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for toy in all_toys %}
                <tr>
                    <td>{{ toy.id }}</td>
                    <td><a href="/toys/{{ toy.id }}"{{ toy.name }}></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/toys">Create a toy</a>
    <a href="/">Home</a>
</body>
</html>