<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Playground</title>
</head>
<body>
    <style>
        .box{
            background-color: {{color}};
        }
    </style>
    
    <div class="container">
        <h1>Welcome!</h1>
        <div class="main">
            {% for num in range(x) %}
                <div class="box"></div>
            {% endfor %}
        </div>
</body>
</html>