<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Counter</title>
</head>
<body>
    <h1>Counter</h1>
    <h4>Page Visited: {{session.visit_number}} Times</h4>
    <h4>Counter Value: {{session.counter_value}} Times</h4>
    <form action="/button" method ="post">
        <input type="text" name="count_value" value="1">
        <button type="submit" name="submit_button" value="Plus2">Visit</button>
        <button type="submit" name="submit_button" value="Reset">Reset</button>
    </form>
</body>
</html>