<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <style>
        .color1{
            background-color: {{color1}};
        }
        .color2{
            background-color: {{color2}};
        }
    </style>
    <table>
    {% for i in range(y) %}
        <tr>
            {% for j in range (x) %}
            <td class="color{{ (i + j) % 2 + 1 }}"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</body>
</html>

<!--Before video
<table>
    {% for i in range(y) %}
        <tr>
            {% for j in range (x) %}
            <td class="first_color"></td>
            <td class="second_color"></td>
            {% endfor %}
        </tr>
        <tr>
            {% for j in range(x) %}
            <td class="second_color"></td>
            <td class="first_color"></td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
-->